<template>
    <v-app>
        <app-header v-if="auth"></app-header>
        <v-content color="white">
            <router-view></router-view>
        </v-content>
        <v-footer color="white" v-if="auth" height="auto">
            <v-layout row wrap justify-space-around>
                <img height="100px" src="./assets/11215122_715664165246230_8770692450894540035_n.jpg" alt="logo1">
                <img height="100px" src="./assets/pntu_logo.png" alt="logo1">
                <img height="100px" src="./assets/logo (1).png" alt="logo1">
            </v-layout>
        </v-footer>
    </v-app>
</template>

<script>
import AppHeader from '@/components/AppHeader.vue'
export default {
    name: 'App',
    components: {
        AppHeader
    },
    data() {
        return {
            //
        }
    },
    computed: {
        auth() {
            let token = this.$store.getters.getToken
            if (token !== null && token !== undefined) {
                return true
            }
            return false
        }
    },
    created() {
        this.$store.dispatch('fetchProfile')
    },
}
</script>
