<template>
    <div>
        <div v-if="!noPlan">
            <plan-status></plan-status>
            <v-switch v-model="switch_oncheck" :label="`Відправити на перевірку `"></v-switch>
            <v-btn color="error" @click="deletePlan">Видалити індивідуальний план</v-btn>
            <p v-if="plan.remark != ''"><b>Зауваження щодо плану: </b>{{plan.remark}}</p>
            <individual-plan-dialog type="edit" :activate="dialog_individualPlan" :edited="edited"></individual-plan-dialog>
            <educational-work-table :table="tables" v-for="table in tables" :key="table.educational_form" :educational_form="table.educational_form"></educational-work-table>
            <v-text-field
                name="search"
                label="Пошук"
                append-icon="search"
                v-model="search"
                single-line
                hide-details
            ></v-text-field>
            <v-data-table :headers="headers" :items="plan.tasks" :search="search" class="elevation-2" hide-actions>
                <template v-slot:items="props">
                    <td class="text-xs">{{ props.item.timeStandard.work_type_title }}</td>
                    <td class="text-xs">{{ props.item.timeStandard.sectionFull }}</td>
                    <td class="text-xs">{{ props.item.timeStandard.unit }}</td>
                    <td class="text-xs column">{{ props.item.timeStandard.time_standard }}</td>
                    <td class="text-xs">{{ props.item.amount_of_work }}</td>
                    <td class="text-xs">{{ props.item.scheduled_hours }}</td>
                    <td class="text-xs">{{ props.item.worked_hours }}</td>
                    <td class="text-xs">{{ props.item.proof_of }}</td>
                    <td>
                        <v-btn block color="success" @click="deleteTask(props.item._id)">Видалити з плану</v-btn>
                        <v-btn block color="success" @click="sendOnEdit(props.item)">Редагувати</v-btn>
                    </td>
                </template>
            </v-data-table>
            <pdf></pdf>
        </div>
        <h1 v-if="noPlan">індивідуальний план відсутній</h1>

    </div>
</template>

<script>
import individualPlanDialog from "@/components/individualPlanDialog.vue"
import EducationalWorkTable from "@/components/EducationalWorkTable.vue"
import PlanStatus from "@/components/PlanStatus.vue"
import Pdf from "@/components/Pdf.vue"

export default {
    components: {
        individualPlanDialog,
        EducationalWorkTable,
        PlanStatus,
        Pdf
    },
    data() {
        return {
            search:null,
            dialog_individualPlan: false,
            switch: null,
            edited: {},
            headers: [{
                    text: 'Найменування',
                    value: 'timeStandard.work_type_title',
                },
                {
                    text: 'Розділ',
                    value: 'timeStandard.sectionFull'
                },
                {
                    text: 'Одиниця виміру',
                    value: 'timeStandard.unit'
                },
                {
                    text: 'Норма часу',
                    value: 'timeStandard.time_standard',
                },
                {
                    text: "Об'єм роботи",
                    value: 'amount_of_work'
                },
                {
                    text: "Заплановано",
                    value: 'scheduled_hours'
                },
                {
                    text: "Виконано",
                    value: 'worked_hours'
                },
                {
                    text: "Підтвердження",
                    value: 'proof_of'
                }
            ],
            noPlan: null
        }
    },
    created() {
        this.$store.dispatch('getIndividualPlan')
    },
    computed: {
        plan() {
            let plan = this.$store.getters.getIndividualPlan
            if (plan === null) {
                console.log("nullPlan")
                this.noPlan = true
                return []
            } else {
                this.noPlan = false
            }
            for (let index in plan.tasks) {
                var sectionFull = null
                switch (plan.tasks[index].timeStandard.section) {
                    case "educational":
                        {
                            sectionFull = "Навчальна робота"
                            break
                        }
                    case "scientific":
                        {
                            sectionFull = "Науково-дослідницька й творча робота"
                            break
                        }
                    case "organizational":
                        {
                            sectionFull = "Oрганізаційно-методична робота"
                            break
                        }
                    case "educational-methodical":
                        {
                            sectionFull = "Навчально-методична робота"
                            break
                        }
                    case "educational-public":
                        {
                            sectionFull = "Виховна й громадська робота"
                            break
                        }
                }
                plan.tasks[index].timeStandard["sectionFull"] = sectionFull
            }
            return plan
        },
        switch_oncheck: {
            get() {
                return this.plan.on_check
            },
            set(val) {
                this.switch = val
            }
        },
        tables() {
            return this.plan.educationalWorkTable
        }

    },
    watch: {
        switch (val) {
            this.$store.dispatch('updatePlan', {
                on_check: val
            })
        }
    },
    methods: {
        deleteTask(id) {
            this.$store.dispatch('deleteTask', id)
        },
        sendOnEdit(item) {
            this.edited = {
                    work_type_title: item.timeStandard.work_type_title,
                    section: item.timeStandard.section,
                    sectionFull: item.timeStandard.sectionFull,
                    unit: item.timeStandard.unit,
                    time_standard: item.timeStandard.time_standard,
                    id: item._id,
                    amount_of_work: item.amount_of_work,
                    worked_hours: item.worked_hours,
                    proof_of: item.proof_of
                },
                this.dialog_individualPlan = true
        },
        deletePlan() {
            this.$store.dispatch('deletePlan')
            this.noPlan = true
        }
    },
}
</script>

<style scoped>
    
</style>
