<template>
    <v-container fluid fill-height>
        <v-layout align-center justify-center>
            <v-flex xs12 sm8 md6>
                <v-card class="elevation-12">
                    <v-toolbar dark color="primary">
                        <v-toolbar-title>Вхід в систему</v-toolbar-title>
                        <v-spacer></v-spacer>
                        <v-tooltip right>
                            <template v-slot:activator="{ on }">
                                <v-icon v-on="on" @click="devMode = !devMode">settings</v-icon>
                            </template>
                            <span>Enable Login DevMode</span>
                        </v-tooltip>
                    </v-toolbar>
                    <v-card-text>
                        <v-alert :value="error" color="error" icon="new_releases">
                            Невірно введений логін або пароль
                        </v-alert>
                        <v-form>
                            <v-text-field v-model="email" prepend-icon="person" name="login" label="Логін" type="text"></v-text-field>
                            <v-text-field v-model="password" id="password" prepend-icon="lock" name="password" label="Пароль" type="password"></v-text-field>
                        </v-form>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="primary" @click="login">Ввійти</v-btn>
                        <v-btn v-if="devMode" color="primary" @click="autologin('admin', 'admin')">admin</v-btn>
                        <v-btn v-if="devMode" color="primary" @click="autologin('checker','checker')">checker</v-btn>
                        <v-btn v-if="devMode" color="primary" @click="autologin('teacher', 'teacher')">teacher</v-btn>
                        <v-btn v-if="devMode" color="primary" @click="autologin('approver', 'approver')">approver</v-btn>
                    </v-card-actions>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
export default {
    data() {
        return {
            email: null,
            password: null,
            devMode: false
        }
    },
    computed: {
        token() {
            return this.$store.getters.getToken
        },
        error(){
            if(this.$store.getters.getError.length !== 0){
                console.log('not null')
                return true
            }
            console.log('null')
            return false
        }
    },
    methods: {
        login() {
            this.$store.dispatch("login", {
                email: this.email,
                password: this.password
            })
        },
        autologin(user, pass) {
            this.email = user
            this.password = pass
            this.login()
        }
    },
    watch: {
        token(val) {
            if (val != null || val != undefined) {
                this.$router.push('/profile');
            }
        }
    },

}
</script>

<style scoped>

</style>
