<template>
    <div>
        <div v-if="first_time">
            <h1>Змініть пароль за замовчуванням</h1>
            <v-btn color="success" @click="dialog = true">Змінити пароль</v-btn>
        </div>
        <change-password></change-password>
        <edit-profile v-if="edited"></edit-profile>
        <profile v-if="!edited"></profile>
        <v-container fluid>
            <component :is="user.role"></component>

        </v-container>

    </div>
</template>

<script>
import Admin from "@/components/AdminProfile.vue"
import Teacher from "@/components/UserProfile.vue"
import Checker from "@/components/CheckerProfile.vue"
import Approver from "@/components/ApproverProfile.vue"
import EditProfile from "@/components/EditProfile.vue"
import Profile from "@/components/Profile.vue"
import ChangePassword from "@/components/ChangePassword.vue"

export default {
    components: {
        Admin,
        Teacher,
        Checker,
        Approver,
        EditProfile,
        Profile,
        ChangePassword
    },
    data() {
        return {
            edited: false,
            dialog: false
        }
    },
    computed: {
        user() {
            return this.$store.getters.getUser
        },
        first_time() {
            return this.user.first_login
        }

    },
    async created() {
        this.$store.dispatch('fetchProfile')

    },
    methods: {
        edit() {
            this.edited = !this.edited
        }
    },
}
</script>

<style scoped>
.container {}
</style>
