<template>
    <div>
        <time-standard-table :show_table=true :isAdmin=false></time-standard-table>
    </div>
</template>

<script>
import TimeStandardTable from "@/components/timeStandardTable.vue"
    export default {
        data(){
            return{
            }
        },
        components:{
            TimeStandardTable,
        },
        created() {
            this.$store.dispatch('fetchTimeStandard')
        },
    }
</script>

<style scoped>

</style>