<template>
    <div>
        <div v-if="user.role == 'checker'">
            <h1 v-if="nullPlan">Відсутні плани для перевірки</h1>
            <card-plan v-else v-for="plan in plans" :key="plan._id" :plan="plan"></card-plan>
        </div>

        <div v-if="user.role == 'approver'">
            <h1 v-if="nullPlan">Відсутні плани для затвердження</h1>
            <approver-plan-card v-else v-for="plan in plans" :key="plan._id" :plan="plan"></approver-plan-card>
        </div>
    </div>

</template>

<script>
import CardPlan from '@/components/PlanCard.vue'
import ApproverPlanCard from '@/components/ApproverCardPlan.vue'
export default {
    components: {
        CardPlan,
        ApproverPlanCard
    },
    data() {
        return {
            nullPlan: false
        }
    },
    computed: {
        plans() {
            var plan = []
            if (this.user.role == "checker") {
                plan = this.$store.getters.getPlan
                if (plan.length == 0) {
                    // this.nullPlan = true
                }
            } else {
                plan = this.$store.getters.getApprovedList
                if (plan.length == 0 || plan === null) {
                    // this.nullPlan = true
                }
            }
            for (let index in plan) {
                for (let task_index in plan[index].tasks) {
                    var sectionFull = null
                    switch (plan[index].tasks[task_index].timeStandard.section) {
                        case "educational":
                            {
                                sectionFull = "Навчальна робота"
                                break
                            }
                        case "scientific":
                            {
                                sectionFull = "Науково-дослідницька й творча робота"
                                break
                            }
                        case "organizational":
                            {
                                sectionFull = "Oрганізаційно-методична робота"
                                break
                            }
                        case "educational-methodical":
                            {
                                sectionFull = "Навчально-методична робота"
                                break
                            }
                        case "educational-public":
                            {
                                sectionFull = "Виховна й громадська робота"
                                break
                            }
                    }
                    plan[index].tasks[task_index].timeStandard["sectionFull"] = sectionFull
                }
            }
        return plan
    },
    user() {
        return this.$store.getters.getUser
    }
},
created() {
    this.$store.dispatch('get_plans')
    this.$store.dispatch('get_approver')

},
}
</script>

<style lang="scss" scoped>

</style>
