<template>
<div>
    <v-btn class="adminButton" color="success" @click="dialog = true">Створити новий обліковий запис</v-btn>
    <v-layout justify-center>
        <v-dialog v-model="dialog" persistent max-width="600px">
            <v-card>
                <v-card-title>
                    <span class="headline">Дані про користувача</span>
                </v-card-title>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap>
                            <v-flex xs12>
                                <v-text-field v-model="user.email" label="Email" type="email" required></v-text-field>
                            </v-flex>
                            <v-flex xs12>
                                <v-text-field label="Пароль" v-model="user.password" type="password" required></v-text-field>
                            </v-flex>
                            <v-flex xs12>
                                <v-select :items=roles item-text="title" item-value="value" label="Роль користувача" v-model="user.role" required></v-select>
                            </v-flex>
                            <v-flex xs12>
                                <v-select :disabled="user.role != 'checker' " item-text="title" item-value="value" :items=subroles label="Розділ" v-model="user.subrole" multiple chips required></v-select>
                            </v-flex>
                            <v-flex xs12>
                                <v-select :items=cathedras item-text="title" item-value="value" label="Кафедра" v-model="user.cathedra" required></v-select>
                            </v-flex>
                            <v-flex xs12>
                                <v-text-field v-model="user.surname" label="Прізвище" type="text" required></v-text-field>
                            </v-flex>
                            <v-flex xs12>
                                <v-text-field v-model="user.name" label="Ім'я" type="text" required></v-text-field>
                            </v-flex>
                            <v-flex xs12>
                                <v-text-field v-model="user.patronymic" label="По батькові" type="text" required></v-text-field>
                            </v-flex>
                            
                        </v-layout>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat @click="dialog = false">Закрити</v-btn>
                    <v-btn color="blue darken-1" flat @click="add_user">Зберегти</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-layout>
</div>
</template>

<script>
export default {
    data() {
        return {
            dialog: false,
            user: {}
        }
    },
    computed: {
        subroles(){
            return this.$store.getters.getSectionList
        },
        roles(){
            return this.$store.getters.getRoleList
        },
        cathedras(){
            return this.$store.getters.getCathedraList
        }
    },
    methods: {
        add_user(){
            if(this.user.role != "checker"){
                this.user.subrole = []
            }
            this.$store.dispatch('add_user', this.user)
            this.dialog = false
        }
    },
}
</script>

<style scoped>

</style>
