<template>
    <div>
        <h3>Панель адміністрування</h3>
        <v-btn color="success" class="adminButton" @click="getUserList">{{btnTxt}}</v-btn>
        <div class="userList" v-if="showUserList" v-for="(user,index) in userList" :key=index justify-space-around>
            <div class="userInfo">
                <span>{{user.surname}} {{user.name}} {{user.patronymic}}</span>
                <span> {{user.email}} | {{user.role}} {{user.subrole}}</span>
                <span>|<b>{{user.cathedra}}</b></span>
            </div>
            <div class="userAction">
                <v-btn color="success" @click="changeRole(user)">Змінити роль <br> користувача</v-btn>
                <v-btn color="success" @click="delete_user(user._id)">Видалити <br> користувача</v-btn>
            </div>
        </div>
        <add-user></add-user>
        <time-standard-table></time-standard-table>
        <role-dialog :userInfo="userInfo"></role-dialog>
    </div>
</template>

<script>
import AdminService from "../services/Admin.js"
import AddUser from "@/components/AddUser"
import timeStandardTable from "@/components/timeStandardTable"
import roleDialog from "@/components/EditRole"

export default {
    data() {
        return {
            userList: {},
            showUserList: false,
            btnTxt: "Відкрити список користувачів",
            roleDialog: false,
            userInfo: {}
        }
    },
    methods: {
        async getUserList() {
            this.showUserList = !this.showUserList
            if (this.showUserList) {
                this.btnTxt = "Закрити список користувачів"
                var resp = await AdminService.getUserList(this.$session.get('token'))
                this.userList = resp.data
            } else {
                this.btnTxt = "Відкрити список користувачів"
            }
        },
        changeRole(user) {
            console.log(user._id)
            this.roleDialog = true,
                this.userInfo = { ...user
                }
        },
        delete_user(id) {
            this.$store.dispatch("delete_user", {
                id: id
            })
        }
    },
    components: {
        AddUser,
        timeStandardTable,
        roleDialog
    }
}
</script>

<style >
    .userList{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .adminButton{
        width: 25%;
        text-align: center;
    }
    .userInfo{
        width: 75%;
    }
    .userAction{
        width: 25%;
    }
    
</style>
