<template>
    <div>
        <v-toolbar class='header'>
            <v-spacer></v-spacer>
            <v-toolbar-items >
                <v-btn flat v-for="(item, index) in menu" :key="index" :to="item.route">{{item.title}}</v-btn>
                <v-btn flat @click="logout">Вихід</v-btn>
            </v-toolbar-items>
        </v-toolbar>
    </div>
</template>

<script>
export default {
    data() {
        return {}
    },
    computed: {
        userRole() {
            let user = this.$store.getters.getUser
            return user.role
        },
        menu() {
            let menu = [{
                    title: 'Особистий кабінет',
                    route: '/profile'
                },
                {
                    title: 'Норми часу',
                    route: '/standard'
                },
                {
                    title: 'Індивідуальний план',
                    route: '/individual-plan'
                },
                
            ]
            if (this.userRole === 'checker' || this.userRole === 'approver') {
                var title = ""
                switch(this.userRole){
                    case "checker":{
                        title = "Плани, очікуючі перевірки"
                        break
                    }
                    case "approver":{
                        title = "Плани, очікуючі затвердження"
                        break
                    }
                }
                menu.push({
                    title: title,
                    route: '/watcher'
                })
            }
            return menu
        }
    },
    methods: {
        logout() {
            this.$store.dispatch("logout")
            this.$router.push('/login');
            this.$store.dispatch("resetIndividualPlan")
            this.$store.dispatch("resetPlans")
            this.$store.dispatch("resetApprovedList")

        },
    },
}
</script>

<style lang="scss" scoped>
    .header{
        margin-bottom:50px;
    }
</style>
