<template>
    <v-layout row justify-center>
        <v-flex xs12 sm10>
            <v-card>
                <v-card-title primary-title>
                    <div>
                        <div class="headline">Індивідуальний план {{plan.uid.surname}} {{plan.uid.name}}</div>
                    </div>
                </v-card-title>

                <v-card-actions>
                    <v-switch v-model="switch_approved" :label="`Затвердити`"></v-switch>
                    <v-spacer></v-spacer>
                    <v-btn icon @click="show = !show">
                        <v-icon>{{ show ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</v-icon>
                    </v-btn>
                </v-card-actions>

                <v-slide-y-transition>
                    <v-card-text v-show="show">
                        <table-plan :plan="plan.tasks"></table-plan>
                        <educational-work-table :readOnly="true" :table="plan.educationalWorkTable" v-for="table in plan.educationalWorkTable" :key="table.educational_form" :educational_form="table.educational_form"></educational-work-table>
                        <v-text-field
                            name="remark"
                            label="Зауваження до плану"
                            v-model="plan.remark"
                            multi-line
                        ></v-text-field>
                        <v-btn color="success" @click="sendRemark">Зберегти</v-btn>
                    </v-card-text>
                </v-slide-y-transition>
            </v-card>
        </v-flex>
    </v-layout>
</template>

<script>
import EducationalWorkTable from '@/components/EducationalWorkTable'
import TablePlan from '@/components/Table'
export default {
    props: {
        plan: {
            type: Object
        }
    },
    components: {
        EducationalWorkTable,
        TablePlan
    },
    data() {
        return {
            show: false,
            switch: null
        }
    },
    computed: {
        on_approved() {
            return this.$store.getters.getApprovedList
        },
        switch_approved: {
            get() {
                return this.plan.approved
            },
            set(val) {
                this.switch = val

            }
        },
    },
    watch: {
        switch (val) {
            let payload = {}
            payload.id = this.plan._id
            payload.approved = val
            this.$store.dispatch("set_approved", payload)
        }
    },
    methods: {
        sendRemark() {
            this.$store.dispatch("set_approved", {id:this.plan._id, remark: this.plan.remark})
        }
    },
}
</script>

<style lang="scss" scoped>

</style>
