<template>
    <div>
        <v-layout justify-center>
            <v-dialog v-model="dialog" persistent max-width="600px">
                <v-card>
                    <v-card-title>
                        <span class="headline">Зміна пароля</span>
                    </v-card-title>
                    <v-card-text>
                        <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex xs12>
                                    <v-text-field v-model="user.old_password" label="Старий пароль" type="password" required></v-text-field>
                                </v-flex>
                                <v-flex xs12>
                                    <v-text-field label="Новий пароль" v-model="user.new_password" type="password" required></v-text-field>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" flat @click="dialog = false">Закрити</v-btn>
                        <v-btn color="blue darken-1" flat @click="change_password">Зберегти</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-layout>
    </div>
</template>

<script>
export default {
    data() {
        return {
            user: {}
        }
    },
    computed: {
        dialog: {
            get() {
                return this.$parent.dialog
            },
            set(val) {
                this.$parent.dialog = val
            }
        }
    },
    methods: {
        change_password() {
            this.$store.dispatch('change_password', this.user)
            this.$parent.dialog = false
        }
    },
}
</script>

<style scoped>

</style>
