<template>
    <div>
        <v-layout row wrap>
            <v-flex xs4>
                <v-text-field class='input' outline @change="update=true" name="surname" label="Прізвище" v-model="user.surname"></v-text-field>
                <v-text-field class='input' outline @change="update=true" name="name" label="Ім'я" v-model="user.name"></v-text-field>
                <v-text-field class='input' outline @change="update=true" name="patronymic" label="По батькові" v-model="user.patronymic"></v-text-field>
                <v-text-field class='input' outline @change="update=true" name="email" label="E-Mail" v-model="user.email"></v-text-field>
                <v-btn v-if="update" color="success" @click="update_profile">Зберегти зміни</v-btn>
                <v-btn color="error" @click="delete_account">Видалити аккаунт</v-btn>
                <v-btn  color="success" @click="dialog = true">Змінити пароль</v-btn>
                <change-password></change-password>
                <v-btn @click="edit">Вийти з режиму редагування</v-btn>

            </v-flex>
        </v-layout>
    </div>
</template>

<script>
import ChangePassword from "@/components/ChangePassword.vue"
    export default {
        components:{
            ChangePassword
        },
        data(){
            return{
            update: false,
            dialog: false

            }
        },
        computed: {
            user(){
                return this.$parent.user
            }
        },
       methods: {
           changed() {
            console.log(this)
        },
        update_profile() {
            const picked = (({
                surname,
                name,
                patronymic,
                email
            }) => ({
                surname,
                name,
                patronymic,
                email
            }))(this.user);
            this.$store.dispatch('update_profile', picked)
            this.update = false
        },
        delete_account() {
            this.$store.dispatch('delete_account')
        },
        edit(){
            this.$parent.edit()
        },
       
       }, 
    }
</script>

<style lang="scss" scoped>

</style>