<template>
<div>
    <v-dialog v-model="activate" persistent max-width="600px">
        <v-card>
            <v-card-text>
                <v-container grid-list-md>
                    <v-layout wrap>
                        <v-select
                            :items="roles"
                            v-model="userInfo.role"
                            label="Роль користувача"
                            item-text="title"
                            item-value="value"
                        ></v-select>
                        <v-select
                            :items="subroles"
                            v-model="userInfo.subrole"
                            label="Розділ"
                            :disabled="isDisabled"
                            multiple
                            chips
                            item-text="title"
                            item-value="value"
                        ></v-select>
                        <v-select
                            :items="cathedras"
                            v-model="userInfo.cathedra"
                            label="Кафедра"
                            item-text="title"
                            item-value="value"
                        ></v-select>
                    </v-layout>
                </v-container>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn  color="blue darken-1" flat @click="activate = false">Закрити</v-btn>
                <v-btn  color="blue darken-1" flat @click="updateRole">Зберегти</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</div>
</template>

<script>
export default {
    props:{
        userInfo:{
            type: Object,
            default: {}
        }
    },
    data() {
        return {
            
            
        }
    },
    computed: {
        activate:{
            get(){
            return this.$parent.roleDialog
            },
            set(val){
                this.$parent.roleDialog = val
            }
        },
        subroles(){
            return this.$store.getters.getSectionList
        },
        roles(){
            return this.$store.getters.getRoleList
        },
        cathedras(){
            return this.$store.getters.getCathedraList
        },
        isDisabled(){
            if(this.userInfo.role != "checker"){
                console.log(this.userInfo.role)
                return true
            }
            return false
        }
    },
    methods: {
       updateRole(){
           let obj = {}
           obj.uid = this.userInfo._id
           obj.role = this.userInfo.role
           if(this.userInfo.role != "checker"){
               this.userInfo.subrole = []
           }
           obj.subrole = this.userInfo.subrole
           obj.cathedra = this.userInfo.cathedra
           this.$store.dispatch("update_role", obj)
           this.activate = false
       }
    },
}
</script>

<style scoped>

</style>
