<template>
    <hot-table ref="hotTableComponent" :data="educationalWorkTable" :language="language" :settings="settings" style="height: 320px; overflow: hidden; width: 100%;" data-originalstyle="height: 320px; overflow: hidden; width: 100%;"></hot-table>
</template>

<script>
import {
    HotTable
} from '@handsontable/vue';
import 'handsontable/languages/ua-UA';
import Handsontable from 'handsontable';
export default {
    props: {
        educational_form: {
            type: String
        }
    },
    data: function () {
        return {
            settings: {
                contextMenu: true,
                // data: this.educationalWorkTable,
                licenseKey: 'non-commercial-and-evaluation',
                startRows: 1,
                startCols: 41,
                width: '100%',
                formulas: true,
                afterRemoveRow: () => {
                    console.log(this.$refs.hotTableComponent)
                    this.$refs.hotTableComponent.hotInstance.runHooks('afterChange')
                },
                afterRemoveRow: () => {
                    this.$refs.hotTableComponent.hotInstance.runHooks('afterChange')
                },
                afterChange: () => {
                    if (this.fullLoad) {
                        var table = this.$refs.hotTableComponent.hotInstance.getData()
                        this.summaryRowRender()
                        table.pop()
                        var lastRow = table[table.length - 1]
                        if (lastRow.every(el => el === null)) {
                            table.pop()
                            // this.$store.dispatch('updateTable', this.educationalWorkTable)
                            // console.log(this.educationalWorkTable.pop())
                        }
                        this.$store.dispatch('updateTable', {
                            educational_form: this.educational_form,
                            table: table
                        })

                    }
                },
                afterLoadData: () => {
                    if (this.first) {
                        this.first = false
                    } else {

                        function fullLoadFunc(vm) {
                            vm.fullLoad = true
                        }
                        setTimeout(fullLoadFunc, 500, this);

                    }
                },
                nestedHeaders: [
                    [{
                            label: "Назви навчальних дисциплін  і видів навчальної роботи",
                            colspan: 1,
                            type: 'numeric'
                        },
                        {
                            label: "Напрям, спеціальність,  інститут, факультет, відділення",
                            colspan: 1

                        },
                        {
                            label: "Курс навчання",
                            colspan: 1
                        },
                        {
                            label: "Кількість студентів",
                            colspan: 1
                        },
                        {
                            label: "Шифр груп (потоків)",
                            colspan: 1
                        },
                        {
                            label: "Читання лекцій",
                            colspan: 2
                        },
                        {
                            label: "Проведення практичних занять",
                            colspan: 2
                        },
                        {
                            label: "Проведення семінарських занять",
                            colspan: 2
                        },
                        {
                            label: "Проведення індивідуальних занять",
                            colspan: 2
                        },
                        {
                            label: "Проведення консультацій протягом семестру",
                            colspan: 2
                        },
                        {
                            label: "Проведення екзаменаційних консультацій ",
                            colspan: 2
                        },
                        {
                            label: "Перевірка контрольних (модульних) робіт, що виконуються під час аудиторних занять",
                            colspan: 2
                        },
                        {
                            label: "Перевірка контрольних (модульних) робіт, що виконуються під час самостійної роботи",
                            colspan: 2
                        },
                        {
                            label: "Керівництво і приймання індивідуальних завдань рефератів, аналітичних оглядів, перекладів",
                            colspan: 2
                        },
                        {
                            label: "Керівництво і приймання індивідуальних завдань розрахункових, графічних, розрахунково- графічних робіт",
                            colspan: 2
                        },
                        {
                            label: "Керівництво і приймання індивідуальних завдань курсових проектів, робіт",
                            colspan: 2
                        },
                        {
                            label: "Проведення заліку",
                            colspan: 2
                        },
                        {
                            label: "Проведення семестрових екзаменів",
                            colspan: 2
                        },
                        {
                            label: "Керівництво навчальною і виробничою практикою",
                            colspan: 2
                        },
                        {
                            label: "Провендення державних екзаменів",
                            colspan: 2
                        },
                        {
                            label: "Керівництво, консультування, рецензування та проведення захисту дипломних проектів (робіт)",
                            colspan: 2
                        },
                        {
                            label: "Керівництво аспірантами, здобувачами та стажуванням викладачів",
                            colspan: 2
                        },
                        {
                            label: "Всього",
                            colspan: 2
                        },
                    ],
                    ["", "", "", "", "", "пл.", "вк.", "пл.", "вк.", "пл.", "вк.", "пл.", "вк.", "пл.", "вк.", "пл.", "вк.", "пл.", "вк.", "пл.", "вк.", "пл.", "вк.", "пл.", "вк.", "пл.", "вк.", "пл.", "вк.", "пл.", "вк.", "пл.", "вк.", "пл.", "вк.", "пл.", "вк.", "пл.", "вк.", "пл.", "вк.", ]
                ],
                columns: [{
                        type: 'text',
                    },
                    {
                        type: 'text'
                    },
                    {
                        type: 'numeric'
                    },
                    {
                        type: 'numeric'
                    },
                    {
                        type: 'text'
                    },
                    {
                        type: 'numeric'
                    },
                    {
                        type: 'numeric'
                    },
                    {
                        type: 'numeric'
                    },
                    {
                        type: 'numeric'
                    },
                    {
                        type: 'numeric'
                    },
                    {
                        type: 'numeric'
                    },
                    {
                        type: 'numeric'
                    },
                    {
                        type: 'numeric'
                    },
                    {
                        type: 'numeric'
                    },
                    {
                        type: 'numeric'
                    },
                    {
                        type: 'numeric'
                    },
                    {
                        type: 'numeric'
                    },
                    {
                        type: 'numeric'
                    },
                    {
                        type: 'numeric'
                    },
                    {
                        type: 'numeric'
                    },
                    {
                        type: 'numeric'
                    },
                    {
                        type: 'numeric'
                    },
                    {
                        type: 'numeric'
                    },
                    {
                        type: 'numeric'
                    },
                    {
                        type: 'numeric'
                    },
                    {
                        type: 'numeric'
                    },
                    {
                        type: 'numeric'
                    },
                    {
                        type: 'numeric'
                    },
                    {
                        type: 'numeric'
                    },
                    {
                        type: 'numeric'
                    },
                    {
                        type: 'numeric'
                    },
                    {
                        type: 'numeric'
                    },
                    {
                        type: 'numeric'
                    },
                    {
                        type: 'numeric'
                    },
                    {
                        type: 'numeric'
                    },
                    {
                        type: 'numeric'
                    },
                    {
                        type: 'numeric'
                    },
                    {
                        type: 'numeric'
                    },
                    {
                        type: 'numeric'
                    },
                    {
                        type: 'numeric',
                        readOnly: true
                    },
                    {
                        type: 'numeric',
                        readOnly: true
                    }
                ],

            },
            language: 'ua-UA',
            first: true,
            fullLoad: false

        };
    },
    components: {
        HotTable
    },

    computed: {
        rowCounts() {
            if (this.fullLoad) {
                return this.$refs.hotTableComponent.hotInstance.countRows()
            } else {
                return 0
            }
        },
        educationalWorkTable() {
            var findTable = (table) => {
                return table.educational_form == this.educational_form
            }
            var arr = []
            var tables = this.$store.getters.getEducationalWorkTable
            var table = []
            if (tables === undefined || tables === null) {
                table = []
            } else {
                let obj = tables.find(findTable)
                table = obj.table
                for (let row in table) {
                    table[row][table[row].length - 1] = `=SUM(G${parseInt(row)+1}+I${parseInt(row)+1}+K${parseInt(row)+1}+M${parseInt(row)+1}+O${parseInt(row)+1}+Q${parseInt(row)+1}+S${parseInt(row)+1}+U${parseInt(row)+1}+W${parseInt(row)+1}+Y${parseInt(row)+1}+AA${parseInt(row)+1}+AC${parseInt(row)+1}+AE${parseInt(row)+1}+AG${parseInt(row)+1})+AI${parseInt(row)+1}+AK${parseInt(row)+1}+AM${parseInt(row)+1}`
                    table[row][table[row].length - 2] = `=SUM(F${parseInt(row)+1}+H${parseInt(row)+1}+J${parseInt(row)+1}+L${parseInt(row)+1}+N${parseInt(row)+1}+P${parseInt(row)+1}+R${parseInt(row)+1}+T${parseInt(row)+1}+V${parseInt(row)+1}+X${parseInt(row)+1}+Z${parseInt(row)+1}+AB${parseInt(row)+1}+AD${parseInt(row)+1}+AF${parseInt(row)+1})+AH${parseInt(row)+1}+AJ${parseInt(row)+1}+AL${parseInt(row)+1}`
                    arr.push(table[row])
                }
            }
            var emptyRow = new Array(41)
            emptyRow.fill(null)
            arr.push(emptyRow)
            var summaryRow = new Array(41)
            // summaryRow.fill('Row count ' + this.rowCounts)
            summaryRow[0] = "Всього"
            summaryRow[3] = `=SUM(D1:D${this.rowCounts - 1})`
            arr.push(summaryRow)
            return arr
        }
    },
    methods: {
        summaryRowRender() {
            let table = this.$refs.hotTableComponent.hotInstance.getData()
            let summaryRow = table[table.length - 1]
            summaryRow[3] = `=SUM(D1:D${this.rowCounts - 1})`
        }
    },
}
</script>

<style src="../../node_modules/handsontable/dist/handsontable.full.css"></style>
<style>
.handsontable th {
    white-space: pre-line !important;
    max-width: 100px;
}
</style>
