<template>
<div>
    <v-dialog v-model="activate" persistent max-width="600px">
        <v-card>
            <v-card-title >
                <span>Дані про запис</span>
            </v-card-title>
            <v-card-text>
                <v-container grid-list-md>
                    <v-layout wrap>
                        <v-flex xs12>
                            <v-text-field readonly v-model="edited.work_type_title" label="Назва виду роботи" required></v-text-field>
                        </v-flex>
                        <v-flex xs12>
                            <v-text-field v-model="edited.sectionFull" label="Розділ" readonly></v-text-field>
                        </v-flex>
                        <v-flex xs12>
                            <v-text-field readonly v-model="edited.unit" label="Одиниця виміру"></v-text-field>
                        </v-flex>
                        <v-flex xs12>
                            <v-text-field readonly v-model="edited.time_standard" label="Норма часу на одиницю виміру" required></v-text-field>
                        </v-flex>
                        <v-flex xs12>
                            <v-text-field v-model="edited.amount_of_work" label="Об'єм роботи" required></v-text-field>
                        </v-flex>
                        <v-flex xs12 v-if="type=='edit'">
                            <v-text-field v-model="edited.worked_hours" label="Виконано годин" ></v-text-field>
                        </v-flex>
                        <v-flex xs12 v-if="type=='edit'">
                            <v-text-field v-model="edited.proof_of" label="Підтвердження" ></v-text-field>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn  color="blue darken-1" flat @click="activate = false">Закрити</v-btn>
                <v-btn v-if="type=='add'" color="blue darken-1" flat @click="addToIndividualPlan">Зберегти</v-btn>
                <v-btn v-if="type=='edit'" flat color="blue darken-1" @click="updateTask">Зберегти</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</div>
</template>

<script>
export default {
    props:{
        edited:{
            type: Object
        },
        type:{
            type: String,
            default: null
        },
    },
    data() {
        return {
            
        }
    },
    computed: {
        activate:{
            get(){
            return this.$parent.dialog_individualPlan
            },
            set(val){
                this.$parent.dialog_individualPlan = val
            }
        }
    },
    methods: {
        addToIndividualPlan(){
            // this.$store.dispatch('addToIndividualPlan', {
            //     tasks: [{
            //         timeStandard: this.edited._id,
            //         amount_of_work: this.edited.amount_of_work
            //     }]
            // })
            this.$parent.tasks.push({
                    timeStandard: this.edited._id,
                    amount_of_work: this.edited.amount_of_work
                })
            this.activate = false
        },
        updateTask(){
            this.$store.dispatch('updateTask',{
                id:this.edited.id,
                body:{
                    amount_of_work: this.edited.amount_of_work,
                    worked_hours: this.edited.worked_hours,
                    proof_of: this.edited.proof_of
                }
            })
            this.activate = false
            
        },
       
    },
}
</script>

<style scoped>

</style>
