<template>
    <div>
        <div v-show="false">
            <div ref="content_portrait">
                <div v-for="section in sections" v-if="section.value !== 'educational'">
                    <h1>{{section.title}}</h1>
                    <table border="1" frame="void" cellspacing="0" style="width:100%;font-size:10px">
                        <tr>
                            <th v-for="column in headers">{{column.text}}</th>
                        </tr>
                        <tr v-for="task in task_section(section)">
                            <td>{{task.timeStandard.work_type_title}}</td>
                            <!-- <td>{{task.timeStandard.section}}</td> -->
                            <td>{{task.timeStandard.unit}}</td>
                            <td width="20px">{{task.timeStandard.time_standard}}</td>
                            <td width="20px">{{task.amount_of_work}}</td>
                            <td width="20px">{{task.scheduled_hours}}</td>
                            <td width="20px">{{task.worked_hours}}</td>
                            <td>{{task.proof_of}}</td>

                        </tr>
                    </table>
                    <div style="page-break-after:always !important"></div>
                </div>
            </div>
            <div style="page-break-after:always !important"></div>
            <div ref="content_landscape">
                <div v-for="table in plan.educationalWorkTable">
                    <h1>{{table.educational_form}}</h1>
                    <table class='educational' frame="void" cellspacing="0" border="1" style="width:100%;font-size:10px;word-break:break-word;">
                        <tr style="height:50px;">
                            <th rowspan="2">Назви навчальних дисциплін і видів навчальної роботи</th>
                            <th rowspan="2">Напрям, спеціальність, інститут, факультет, відділення</th>
                            <th rowspan="2">Курс навчання</th>
                            <th rowspan="2">Кількість студентів</th>
                            <th rowspan="2">Шифр груп (потоків)</th>
                            <th colspan="2">Читання лекцій</th>
                            <th colspan="2">Проведення практичних занять</th>
                            <th colspan="2">Проведення лабораторних занять</th>
                            <th colspan="2">Проведення семінарських занять</th>
                            <th colspan="2">Проведення індивідуальних занять</th>
                            <th colspan="2">Проведення консультацій протягом семестру</th>
                            <th colspan="2">Проведення екзаменаційних консультацій </th>
                            <th colspan="2">Перевірка контрольних (модульних) робіт, що виконуються під час аудиторних занять</th>
                        </tr>
                        <tr>
                            <th>пл.</th>
                            <th>вик.</th>
                            <th>пл.</th>
                            <th>вик.</th>
                            <th>пл.</th>
                            <th>вик.</th>
                            <th>пл.</th>
                            <th>вик.</th>
                            <th>пл.</th>
                            <th>вик.</th>
                            <th>пл.</th>
                            <th>вик.</th>
                            <th>пл.</th>
                            <th>вик.</th>
                            <th>пл.</th>
                            <th>вик.</th>

                        </tr>
                        <tr v-for="row in table.table">
                            <td width="20px" v-for="(cell, index) in row" v-if="index<21">{{cell}}</td>
                        </tr>
                    </table>
                    <div style="page-break-after:always !important"></div>
                    <table class='educational' frame="void" cellspacing="0" border="1" style="margin-top:10px;width:100%;font-size:10px;word-break:break-word;">
                        <tr>

                            <th colspan="2">Перевірка контрольних (модульних) робіт, що виконуються під час самостійної роботи</th>
                            <th colspan="2">Керівництво і приймання індивідуальних завдань рефератів, аналітичних оглядів, перекладів</th>
                            <th colspan="2">Керівництво і приймання індивідуальних завдань розрахункових, графічних, розрахунково- графічних робіт</th>
                            <th colspan="2">Керівництво і приймання індивідуальних завдань курсових проектів, робіт</th>
                            <th colspan="2">Проведення заліку</th>
                            <th colspan="2">Проведення семестрових екзаменів</th>
                            <th colspan="2">Керівництво навчальною і виробничою практикою</th>
                            <th colspan="2">Провендення державних екзаменів</th>
                            <th colspan="2">Керівництво, консультування, рецензування та проведення захисту дипломних проектів (робіт)</th>
                            <th colspan="2">Керівництво аспірантами, здобувачами та стажуванням викладачів</th>
                            <th colspan="2">Всього</th>

                        </tr>
                        <tr>

                            <th>пл.</th>
                            <th>вик.</th>
                            <th>пл.</th>
                            <th>вик.</th>
                            <th>пл.</th>
                            <th>вик.</th>
                            <th>пл.</th>
                            <th>вик.</th>
                            <th>пл.</th>
                            <th>вик.</th>
                            <th>пл.</th>
                            <th>вик.</th>
                            <th>пл.</th>
                            <th>вик.</th>
                            <th>пл.</th>
                            <th>вик.</th>
                            <th>пл.</th>
                            <th>вик.</th>
                            <th>пл.</th>
                            <th>вик.</th>
                            <th>пл.</th>
                            <th>вик.</th>
                        </tr>
                        <tr v-for="row in table.table">
                            <td width="20px" v-for="(cell, index) in row" v-if="index>20">{{cell}}</td>
                        </tr>
                    </table>
                    <div style="page-break-after:always !important"></div>
                </div>
            </div>
        </div>
        <v-btn :disabled="disabled" color="success" @click="generatePdfCorrect">Зберегти в PDF</v-btn>
    </div>

</template>

<script>
import axios from 'axios'
import PlanTable from '@/components/Table.vue'
import querystring from 'querystring'
export default {
    components: {
        PlanTable
    },
    data() {
        return {
            disabled: false,
            headers: [{
                    text: 'Найменування',
                },

                {
                    text: 'Одиниця виміру',
                },
                {
                    text: 'Норма часу',
                },
                {
                    text: "Об'єм роботи",
                },
                {
                    text: "Заплановано",
                },
                {
                    text: "Виконано",
                },
                {
                    text: "Підтвердженя",
                }
            ],
        }
    },
    methods: {
        async generatePdfCorrect() {
            this.disabled = true
            const content_portrait = this.$refs.content_portrait.innerHTML
            const content_landscape = this.$refs.content_landscape.innerHTML
            axios.post("http://localhost:3000/api/pdf",
                    querystring.stringify({
                        "html_portrait": content_portrait,
                        "html_landscape": content_landscape
                    }), {
                        responseType: 'arraybuffer',

                    })
                .then((response) => {
                    const url = window.URL.createObjectURL(new Blob([response.data], {
                        type: 'application/pdf'
                    }));
                    const link = document.createElement('a');
                    link.href = url;
                    link.setAttribute('download', `${this.$parent.plan.uid}-plan.pdf`); //or any other extension
                    console.log(link)
                    document.body.appendChild(link);
                    link.click();
                    this.disabled = false

                })
                .catch((error) => console.log(error));
        },
        task_section(section) {
            return this.plan.tasks.filter((s) => {
                return s.timeStandard.section == section.value
            })
        },

    },
    computed: {
        plan() {
            var plan = this.$store.getters.getIndividualPlan
            for (let index in plan.educationalWorkTable)
                for (let row in plan.educationalWorkTable[index].table) {
                    plan.educationalWorkTable[index].table[row][41] = 0
                    plan.educationalWorkTable[index].table[row][42] = 0
                    for (let cell in plan.educationalWorkTable[index].table[row]) {
                        if (cell > 4 && cell < 41 && cell % 2 == 1) {
                            plan.educationalWorkTable[index].table[row][41] += parseInt(plan.educationalWorkTable[index].table[row][cell])
                        }
                        if (cell > 4 && cell < 41 && cell % 2 == 0) {
                            plan.educationalWorkTable[index].table[row][42] += parseInt(plan.educationalWorkTable[index].table[row][cell])
                        }
                    }
                    console.log(plan.educationalWorkTable)
                }
            return plan
        },
        sections() {
            return this.$store.getters.getSectionList
        }
    },
}
</script>

<style lang="scss" scoped>
.educational {
    @media print {
        .educational {
            size: landscape
        }
    }

    ;
}
</style>
