<template>
    <div>
        <h1>Статус: {{status}}</h1>
    </div>
</template>

<script>
    export default {
        computed: {
            plan(){
                return this.$parent.plan
            },
            status(){
                if(this.plan.on_check){
                    if(this.plan.on_approved){
                        if(this.plan.approved){
                            return "Затверджено"
                        }
                        return "Очікує затвердження"
                    }
                    if(this.plan.verifiers.length != 0){
                        return "Проходить перевірку"
                    }
                    return "Відправлено на перевірку"
                }
                return "Очікує відправлення на перевірку"
            }
        },
    }
</script>

<style lang="scss" scoped>

</style>