<template>
    <v-layout row justify-center>
        <v-flex xs12 sm10>
            <v-card>
                <v-card-title primary-title>
                    <div>
                        <div class="headline">Індивідуальний план {{plan.uid.surname}} {{plan.uid.name}}</div>
                    </div>
                </v-card-title>

                <v-card-actions>
                    <v-switch v-model="switch_oncheck" :label="`Перевірено`"></v-switch>
                    <v-spacer></v-spacer>
                    <v-btn icon @click="show = !show">
                        <v-icon>{{ show ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</v-icon>
                    </v-btn>
                </v-card-actions>

                <v-slide-y-transition>
                    <v-card-text v-show="show">
                        <table-plan :plan="plan.tasks"></table-plan>
                        <educational-work-table v-if="educational" :readOnly="true" :table="plan.educationalWorkTable" v-for="table in plan.educationalWorkTable" :key="table.educational_form" :educational_form="table.educational_form"></educational-work-table>
                        <v-text-field
                            name="remark"
                            label="Зауваження до плану"
                            v-model="plan.remark"
                            multi-line
                        ></v-text-field>
                        <v-btn color="success" @click="sendRemark">Зберегти</v-btn>
                    </v-card-text>
                </v-slide-y-transition>
            </v-card>
        </v-flex>
    </v-layout>
</template>

<script>
import EducationalWorkTable from '@/components/EducationalWorkTable'
import TablePlan from '@/components/Table'

export default {
    props: {
        plan: {
            type: Object
        },
    },
    components: {
        EducationalWorkTable,
        TablePlan
    },
    data() {
        return {
            show: false,
            switch: null,
        }
    },
    computed: {
        switch_oncheck: {
            get() {
                if (this.subrole.every(el => this.plan.verifiers.includes(el))) {
                    return true
                }
                return false
            },
            set(val) {
                this.switch = val

            }
        },
        subrole() {
            return this.$parent.user.subrole
        },
        educational() {
            if (this.subrole.includes("educational")) {
                return true
            }
            return false
        },
       
    },
    watch: {
        switch (val) {
            this.$store.dispatch('check_plan', {
                id: this.plan._id,
                checked: val
            })
        }
    },
    methods: {
        sendRemark() {
            this.$store.dispatch("check_plan", {id:this.plan._id, remark: this.plan.remark})
        }
    },

}
</script>

<style lang="scss" scoped>

</style>
