<template>
    <div>
        <v-container fluid>
            <v-layout row wrap>
                <v-flex xs4 class='image-block'>
                    <v-img aspect-ratio="1" src="https://picsum.photos/300?random"></v-img>
                </v-flex>
                <v-flex xs5 offset-xs1 class="contact-information">
                    <span>{{user.surname}} {{user.name}} {{user.patronymic}}</span><br>
                    <span>{{user.role}} {{user.subrole}}</span> <br>
                    <span>E-Mail: {{user.email}}</span><br>
                    <span>Кафедра: {{user.cathedra}}</span>
                </v-flex>
                <v-flex class='edit-btn'>
                    <v-toolbar card dense flat height="20px" color="transparent" >
                   <v-spacer></v-spacer>
                   <v-icon @click="edit">edit</v-icon>
                </v-toolbar>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>

<script>
export default {
    methods: {
        edit() {
            this.$parent.edit()
        }
    },
    computed: {
        user() {
            return this.$parent.user
        }
    },
}
</script>

<style lang="scss" scoped>
span {
    font-size: 16pt;
}

.image-block {
    margin-left: 20px;
}

.contact-information {
    justify-content: center;
}

.layout {
    border: 1px solid black;
    padding: 5px;
}

.container {
    width: 60%;
    margin: 0;
}

.edit-btn{
    margin-right: -3%;
}
</style>
