<template>
    <div>
        <span class="tableName" @click="showTable = !showTable">Норми
            <v-icon>{{ showTable ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</v-icon>
        </span>
        <v-data-table v-show="showTable" :headers="headers" :items="plan" class="elevation-1" hide-actions>
            <template v-slot:items="props">
                <tr>
                    <td>{{props.item.timeStandard.work_type_title}}</td>
                    <td>{{props.item.timeStandard.sectionFull}}</td>
                    <td>{{props.item.timeStandard.unit}}</td>
                    <td>{{props.item.timeStandard.time_standard}}</td>
                    <td>{{props.item.amount_of_work}}</td>
                    <td>{{props.item.scheduled_hours}}</td>
                    <td>{{props.item.worked_hours}}</td>
                    <td>{{props.item.proof_of}}</td>
                </tr>
            </template>
        </v-data-table>
    </div>
</template>

<script>
export default {
    props: {
        plan: {
            type: Array
        }
    },
    data() {
        return {
            showTable: false,
            headers: [{
                    text: 'Найменування',
                    value: 'timeStandard.work_type_title'
                },
                {
                    text: 'Розділ',
                    value: 'timeStandard.section'
                },
                {
                    text: 'Одиниця виміру',
                    value: 'timeStandard.unit'
                },
                {
                    text: 'Норма часу',
                    value: 'timeStandard.time_standard'
                },
                {
                    text: "Об'єм роботи",
                    value: 'amount_of_work'
                },
                {
                    text: "Заплановано",
                    value: 'scheduled_hours'
                },
                {
                    text: "Виконано",
                    value: 'worked_hours'
                },
                {
                    text: "Підтвердженя",
                    value: 'proof_ofhttps://www.youtube.com/watch?v=kWF-UCVAqFQ?version=2'
                }
            ],
        }
    }
}
</script>

<style lang="scss" scoped>

</style>
