<template>
    <div>
        <v-btn v-if="!show_table" class="adminButton" color="success" @click="getTimeStandard">Керування нормами часу</v-btn>
        <div v-if="show_table">
            <time-standard-dialog :edited="edited"></time-standard-dialog>
            <individual-plan-dialog type="add" :edited="edited"></individual-plan-dialog>
            <v-btn class='adminButton' v-if="isAdmin" color="success" @click="dialog_timeStandard = true">Додати новий запис</v-btn>
            <v-text-field
                name="search"
                label="Пошук"
                append-icon="search"
                v-model="search"
                single-line
                hide-details
            ></v-text-field>
            <v-data-table :headers="headers" :items="timeStandard" :search="search" class="elevation-1" hide-actions>
                <template v-slot:items="props">
                    <tr v-bind:class="{activeTask:classActive(props.item._id)}">
                        <td>{{ props.item.work_type_title }}</td>
                        <td v-if="isAdmin">{{ props.item.cathedra }}</td>
                        <td>{{ props.item.sectionFull }}</td>
                        <td>{{ props.item.unit }}</td>
                        <td>{{ props.item.time_standard }}</td>
                        <td v-if="isAdmin">
                            <v-btn block color="success" @click="deleteTimeStandard(props.item._id)">Видалити запис</v-btn>
                            <v-btn block color="success" @click="sendToEditForm(props.item)">Редагувати запис</v-btn>
                        </td>
                        <td v-else>
                            <v-btn color="white" @click="sendToIndividualPlanForm(props.item)">Додати до індивідуального плану</v-btn>
                        </td>
                    </tr>

                </template>
            </v-data-table>
            <v-btn fab fixed bottom right color="deep-purple" dark v-if="tasks.length>0" @click="sendTasks">
                <v-icon>save_alt</v-icon>
            </v-btn>
            <!-- <v-btn color="success" @click="classActive = !classActive">class</v-btn> -->
        </div>

    </div>
</template>

<script>
import individualPlanDialog from "@/components/individualPlanDialog"
import timeStandardDialog from "@/components/timeStandardDialog"
export default {
    components: {
        individualPlanDialog,
        timeStandardDialog
    },
    props: {
        show_table: {
            type: Boolean,
            default: false
        },
        isAdmin: {
            type: Boolean,
            default: true
        }
    },
    data() {
        return {
            search:null,
            dialog_timeStandard: false,
            dialog_individualPlan: false,
            edited: {},
            tasks: [],
            
        }
    },
    computed: {
        timeStandard() {
            let timeStandardArr = this.$store.getters.getTimeStandard
            for (let index in timeStandardArr){
                var sectionFull = null
                switch(timeStandardArr[index].section){
                    case "educational":{
                        sectionFull = "Навчальна робота"
                        break
                    }
                    case "scientific":{
                        sectionFull = "Науково-дослідницька й творча робота"
                        break
                    }
                    case "organizational":{
                        sectionFull = "Oрганізаційно-методична робота"
                        break
                    }
                    case "educational-methodical":{
                        sectionFull = "Навчально-методична робота"
                        break
                    }
                    case "educational-public":{
                        sectionFull = "Виховна й громадська робота"
                        break
                    }
                }
                timeStandardArr[index]["sectionFull"] = sectionFull
            }
            return timeStandardArr
        },
        headers(){
            let header = [{
                    text: 'Найменування',
                    value: 'work_type_title'
                },
                {
                    text: 'Кафедра',
                    value: 'cathedra'
                },
                {
                    text: 'Розділ',
                    value: 'sectionFull'
                },
                {
                    text: 'Одиниця виміру',
                    value: 'unit'
                },
                {
                    text: "Норма часу",
                    value: 'time_standard'
                },
            ]
            if(!this.isAdmin){
                header.splice(1,1)
            }
            return header
        }
    },
    methods: {
        getTimeStandard() {
            this.$store.dispatch('fetchTimeStandard')
            this.show_table = !this.show_table
        },
        deleteTimeStandard(id) {
            this.$store.dispatch('deleteTimeStandard', {
                id: id
            })
        },
        sendToEditForm(item) {
            this.dialog_timeStandard = true
            this.edited = { ...item
            }
        },
        sendToIndividualPlanForm(item) {
            this.dialog_individualPlan = true
            this.edited = { ...item
            }
        },

        sendTasks() {
            this.$store.dispatch('addToIndividualPlan', {
                tasks: this.tasks
            })
            this.tasks = []
            // this.$router.push('/individual-plan')
        },
        classActive(id) {
            if ((this.tasks.findIndex(el => el.timeStandard === id)) !== -1) {
                return true
            } else {
                return false
            }
        }
    },
}
</script>

<style>
.activeTask {
    background-color: #00ff00;
}
</style>
