<template>
    <div>
        <v-dialog v-model="activate" persistent max-width="600px">
            <v-card>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap>
                            <v-flex xs12>
                                <v-text-field v-model="edited.work_type_title" label="Назва виду роботи" required></v-text-field>
                            </v-flex>
                            <v-flex xs12>
                                <v-select :items="sections" item-text="name" item-value="code" v-model="edited.section" label="Розділ"></v-select>
                            </v-flex>
                            <v-flex xs12>
                                <v-text-field v-model="edited.unit" label="Одиниця виміру"></v-text-field>
                            </v-flex>
                            <v-flex xs12>
                                <v-text-field v-model="edited.time_standard" label="Норма часу на одиницю виміру" required></v-text-field>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat @click="activate = false">Close</v-btn>
                    <v-btn color="blue darken-1" flat @click="editTimeStandard" v-if="edited._id">Save</v-btn>
                    <v-btn color="blue darken-1" flat @click="addTimeStandard" v-else>Save</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
export default {
    props: {
        edited: {
            type: Object,
            default: {}
        }
    },
    data() {
        return {
            sections: [{
                    name: "Навчально-методична робота",
                    code: "educational-methodical"
                },
                {
                    name: "Науково-дослідницька й творча робота",
                    code: "scientific"
                },
                {
                    name: "Організаційно-методична робота",
                    code: "organizational"
                },
                {
                    name: "Виховна й громадська робота",
                    code: "educational-public"
                }
            ],
        }
    },
    computed: {
        activate: {
            get() {
                return this.$parent.dialog_timeStandard
            },
            set(val) {
                this.$parent.dialog_timeStandard = val
            }
        }
    },
    methods: {
        editTimeStandard() {
            this.$store.dispatch('editTimeStandard', this.edited)
            this.activate = false
            this.edited = {}
        },
        addTimeStandard() {
            this.$store.dispatch('addTimeStandard', this.edited)
            this.activate = false
        },
    },
}
</script>

<style lang="scss" scoped>

</style>
